<!DOCTYPE html>

<html>

<head>

</head>
<title>About</title>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="./css/styles.css"> 
<body>
    <div class = "main-content">
        {{>headers}}
        <p>This site is created by BHARGAVA RAM. This site uses data form mapbox.com and Datasky.net!</p>
        <img class= "potrait" src="/img/SEKIRO.png">
        </div>
    
    
    {{>footer}}
</body>



</html>